In [1]:
 import pymongo

## Making a Connection with MongoClient

In [2]:
# Import pymongo library
from pymongo import MongoClient
client = MongoClient()

In [3]:
client = MongoClient('localhost', 27017)

In [4]:
client = MongoClient('mongodb://localhost:27017/')

## Check all available Databases

In [5]:
dbnames = client.list_database_names()
dbnames

['admin', 'config', 'local']

## Create a DataBase

In [6]:
mydb = client["mydatabase"]

## Delete a Database

In [7]:
client.drop_database('mydatabase')
dbnames = client.list_database_names()
dbnames

['admin', 'config', 'local']

## Create Collection in a Database

In [8]:
mydb = client["mydatabase"]
mycol = mydb["customers"]

## Insert Document in Collection

In [9]:
## Insert many
mylist = [{ "name": "Ram", "address": "Highway 37", "Phone no": 9998887776,"Salary": 20000 },
          {"name": "Rahul", "address": "Jaipur", "Phone no": 9998087776,"Salary": 15000 },
          {"name": "Bhawana", "address": "Gujrat", "Phone no": 90998887776,"Salary": 30000 }]
x = mycol.insert_many(mylist)

In [10]:
## Insert one
mydict={"name":"Tarun","address": "Mumbai", "Phone no": 9990087776,"Salary": 29000}
y = mycol.insert_one(mydict)

In [11]:
## Give your own ids

mylist1 = [
  { "_id": 1, "name": "Anjali", "address": "Faridabad", "Phone no": 99985287776,"Salary": 50000},
  { "_id": 2, "name": "Sumit", "address": "Bihar", "Phone no": 9996887776,"Salary": 2000},
  { "_id": 3, "name": "Alisha", "address": "Chandigarh", "Phone no": 9908887776,"Salary": 55000},
  { "_id": 4, "name": "Vipin", "address": "Gurgaon", "Phone no": 9098887076,"Salary": 10000},
  { "_id": 5, "name": "Manisha", "address": "Delhi", "Phone no": 9698883776,"Salary": 23000},
  { "_id": 6, "name": "Sagar", "address": "Ambala", "Phone no": 9998889976,"Salary": 26600},
  { "_id": 7, "name": "Rakesh", "address": "Himachal", "Phone no": 9998677761,"Salary": 21000},
  
]

z = mycol.insert_many(mylist1)

## View Data from Collection

In [12]:
## for getting one row
mycol.find_one()

{'_id': ObjectId('5d48307d128740c2dc2896f8'),
 'name': 'Ram',
 'address': 'Highway 37',
 'Phone no': 9998887776,
 'Salary': 20000}

In [13]:
## for getting all the rows
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d48307d128740c2dc2896f8'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('5d48307d128740c2dc2896f9'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('5d48307e128740c2dc2896fb'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': 1, 'name': 'Anjali', 'address': 'Faridabad', 'Phone no': 99985287776, 'Salary': 50000}
{'_id': 2, 'name': 'Sumit', 'address': 'Bihar', 'Phone no': 9996887776, 'Salary': 2000}
{'_id': 3, 'name': 'Alisha', 'address': 'Chandigarh', 'Phone no': 9908887776, 'Salary': 55000}
{'_id': 4, 'name': 'Vipin', 'address': 'Gurgaon', 'Phone no': 9098887076, 'Salary': 10000}
{'_id': 5, 'name': 'Manisha', 'address': 'Delhi', 'Phone no': 9698883776, 'Salary': 23000}
{'_id': 6, 'name': 'Sagar', 'address': 'Ambala', 'Phone no': 9998889976, 'Salary': 26600}
{'_id': 7, 'name': 'Rakesh', 'address': 'Himachal', 'Phone no': 9998677761, 'Salary': 21000}

In [14]:
## Return Only Some Fields
for x in mycol.find({},{ "_id": 0, "name": 1 ,"address": 1 }):
  print(x)

{'name': 'Ram', 'address': 'Highway 37'}
{'name': 'Rahul', 'address': 'Jaipur'}
{'name': 'Bhawana', 'address': 'Gujrat'}
{'name': 'Tarun', 'address': 'Mumbai'}
{'name': 'Anjali', 'address': 'Faridabad'}
{'name': 'Sumit', 'address': 'Bihar'}
{'name': 'Alisha', 'address': 'Chandigarh'}
{'name': 'Vipin', 'address': 'Gurgaon'}
{'name': 'Manisha', 'address': 'Delhi'}
{'name': 'Sagar', 'address': 'Ambala'}
{'name': 'Rakesh', 'address': 'Himachal'}

## Filter Data

In [15]:
## Filter results
myquery = { "address": "Gurgaon" }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': 4, 'name': 'Vipin', 'address': 'Gurgaon', 'Phone no': 9098887076, 'Salary': 10000}

In [16]:
## Advanced Query
myquery = { "address": { "$gt": "G" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d48307d128740c2dc2896f8'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('5d48307d128740c2dc2896f9'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('5d48307e128740c2dc2896fb'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': 4, 'name': 'Vipin', 'address': 'Gurgaon', 'Phone no': 9098887076, 'Salary': 10000}
{'_id': 7, 'name': 'Rakesh', 'address': 'Himachal', 'Phone no': 9998677761, 'Salary': 21000}

In [17]:
## Regular Expressions

myquery = { "address": { "$regex": "^G" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': 4, 'name': 'Vipin', 'address': 'Gurgaon', 'Phone no': 9098887076, 'Salary': 10000}

## Querying By ObjectId

In [18]:
import pprint
pprint.pprint(mycol.find_one({"_id": 1}))

{'Phone no': 99985287776,
 'Salary': 50000,
 '_id': 1,
 'address': 'Faridabad',
 'name': 'Anjali'}

## Count Document

In [19]:
mycol.count_documents({})

11

## Sort Document

In [20]:
# Ascending order
mydoc = mycol.find().sort("name")
for x in mydoc:
  print(x)

{'_id': 3, 'name': 'Alisha', 'address': 'Chandigarh', 'Phone no': 9908887776, 'Salary': 55000}
{'_id': 1, 'name': 'Anjali', 'address': 'Faridabad', 'Phone no': 99985287776, 'Salary': 50000}
{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': 5, 'name': 'Manisha', 'address': 'Delhi', 'Phone no': 9698883776, 'Salary': 23000}
{'_id': ObjectId('5d48307d128740c2dc2896f9'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': 7, 'name': 'Rakesh', 'address': 'Himachal', 'Phone no': 9998677761, 'Salary': 21000}
{'_id': ObjectId('5d48307d128740c2dc2896f8'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': 6, 'name': 'Sagar', 'address': 'Ambala', 'Phone no': 9998889976, 'Salary': 26600}
{'_id': 2, 'name': 'Sumit', 'address': 'Bihar', 'Phone no': 9996887776, 'Salary': 2000}
{'_id': ObjectId('5d48307e128740c2dc2896fb'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': 4, 'name': 'Vipin', 'address': 'Gurgaon', 'Phone no': 9098887076, 'Salary': 10000}

In [21]:
## Descending Order
mydoc = mycol.find().sort("name", -1)
for x in mydoc:
  print(x)

{'_id': 4, 'name': 'Vipin', 'address': 'Gurgaon', 'Phone no': 9098887076, 'Salary': 10000}
{'_id': ObjectId('5d48307e128740c2dc2896fb'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': 2, 'name': 'Sumit', 'address': 'Bihar', 'Phone no': 9996887776, 'Salary': 2000}
{'_id': 6, 'name': 'Sagar', 'address': 'Ambala', 'Phone no': 9998889976, 'Salary': 26600}
{'_id': ObjectId('5d48307d128740c2dc2896f8'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': 7, 'name': 'Rakesh', 'address': 'Himachal', 'Phone no': 9998677761, 'Salary': 21000}
{'_id': ObjectId('5d48307d128740c2dc2896f9'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': 5, 'name': 'Manisha', 'address': 'Delhi', 'Phone no': 9698883776, 'Salary': 23000}
{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': 1, 'name': 'Anjali', 'address': 'Faridabad', 'Phone no': 99985287776, 'Salary': 50000}
{'_id': 3, 'name': 'Alisha', 'address': 'Chandigarh', 'Phone no': 9908887776, 'Salary': 55000}

## Update Document

In [22]:
## update one row

myquery = { "address": "Ambala" }
newvalues = { "$set": { "address": "Goa" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d48307d128740c2dc2896f8'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('5d48307d128740c2dc2896f9'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Gujrat', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('5d48307e128740c2dc2896fb'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': 1, 'name': 'Anjali', 'address': 'Faridabad', 'Phone no': 99985287776, 'Salary': 50000}
{'_id': 2, 'name': 'Sumit', 'address': 'Bihar', 'Phone no': 9996887776, 'Salary': 2000}
{'_id': 3, 'name': 'Alisha', 'address': 'Chandigarh', 'Phone no': 9908887776, 'Salary': 55000}
{'_id': 4, 'name': 'Vipin', 'address': 'Gurgaon', 'Phone no': 9098887076, 'Salary': 10000}
{'_id': 5, 'name': 'Manisha', 'address': 'Delhi', 'Phone no': 9698883776, 'Salary': 23000}
{'_id': 6, 'name': 'Sagar', 'address': 'Goa', 'Phone no': 9998889976, 'Salary': 26600}
{'_id': 7, 'name': 'Rakesh', 'address': 'Himachal', 'Phone no': 9998677761, 'Salary': 21000}

In [23]:
## update many rows

myquery = { "address": { "$regex": "^G" } }
newvalues = { "$set": { "address": "Haryana" } }
x = mycol.update_many(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('5d48307d128740c2dc2896f8'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('5d48307d128740c2dc2896f9'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Haryana', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('5d48307e128740c2dc2896fb'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': 1, 'name': 'Anjali', 'address': 'Faridabad', 'Phone no': 99985287776, 'Salary': 50000}
{'_id': 2, 'name': 'Sumit', 'address': 'Bihar', 'Phone no': 9996887776, 'Salary': 2000}
{'_id': 3, 'name': 'Alisha', 'address': 'Chandigarh', 'Phone no': 9908887776, 'Salary': 55000}
{'_id': 4, 'name': 'Vipin', 'address': 'Haryana', 'Phone no': 9098887076, 'Salary': 10000}
{'_id': 5, 'name': 'Manisha', 'address': 'Delhi', 'Phone no': 9698883776, 'Salary': 23000}
{'_id': 6, 'name': 'Sagar', 'address': 'Haryana', 'Phone no': 9998889976, 'Salary': 26600}
{'_id': 7, 'name': 'Rakesh', 'address': 'Himachal', 'Phone no': 9998677761, 'Salary': 21000}

## PyMongo Limit

In [24]:
myresult = mycol.find().limit(5)
for x in myresult:
  print(x)

{'_id': ObjectId('5d48307d128740c2dc2896f8'), 'name': 'Ram', 'address': 'Highway 37', 'Phone no': 9998887776, 'Salary': 20000}
{'_id': ObjectId('5d48307d128740c2dc2896f9'), 'name': 'Rahul', 'address': 'Jaipur', 'Phone no': 9998087776, 'Salary': 15000}
{'_id': ObjectId('5d48307d128740c2dc2896fa'), 'name': 'Bhawana', 'address': 'Haryana', 'Phone no': 90998887776, 'Salary': 30000}
{'_id': ObjectId('5d48307e128740c2dc2896fb'), 'name': 'Tarun', 'address': 'Mumbai', 'Phone no': 9990087776, 'Salary': 29000}
{'_id': 1, 'name': 'Anjali', 'address': 'Faridabad', 'Phone no': 99985287776, 'Salary': 50000}

## Delete Document

In [25]:
## Delete one row

myquery = { "address": "Ambala" }
y=mycol.delete_one(myquery)
print(y.deleted_count, " documents deleted.")

0  documents deleted.

In [26]:
## Delete multiple rows

myquery = { "name": {"$regex": "^A"} }
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

2  documents deleted.

In [27]:
## delete all rows together

x = mycol.delete_many({})
print(x.deleted_count, " documents deleted.")

9  documents deleted.

## Drop Collection

In [ ]:
mycol.drop()

In [28]:
# End